


.möbhei{
    position: absolute;top: 0%;left: 0%;height: 100%; width: 100%;

}

.möb1{
    position: absolute;top: 10%;right: 65%;
    width: 20%;
    height: 50%;
}

.butmöb1{
    position: absolute;top: 60%;right: 70%;
    width: 10%;
    height: 10%;
}

.möb2{
    position: absolute;top: 10%;right: 40%;
    width: 20%;
    height: 50%;
}

.butmöb2{
    position: absolute;top: 60%;right: 45%;
    width: 10%;
    height: 10%;
}

.möb3{
    position: absolute;top: 5%;right: 10%;
    width: 25%;
    height: 60%;
}

.butmöb3{
    position: absolute;top: 60%;right: 19%;
    width: 10%;
    height: 10%;

}


.butmöb4{
    position: absolute;top: 87%;right: 35%;
    width: 30%;
    height: 10%;
    font-size: 200%;
}

